<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	  
	<bean id="dept" class="com.pault.spring.core.circular.dependency.Department">
		<constructor-arg name="emp" ref="emp"></constructor-arg>
	</bean>
	
	<bean id="emp" class="com.pault.spring.core.circular.dependency.Employee">
		<constructor-arg name="dept" ref="dept"></constructor-arg>
	</bean>

</beans>

